@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

:root {
  --font-family-sans-serif: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  --headings-font-family: 'Montserrat';
  --headings-font-weight: 700;
  --headings-line-height: 1.2;
}
